.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    background-color: #fff;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    background-color: #fff;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

